.friend-list .item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(225, 234, 235);
  border-radius: 5px;
  overflow: hidden;
}
.friend-list .name {
  font-weight: bold;
  color: #111;
}
.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.avatar {
  border-radius: 50%;
  border: 1px solid black;
}
